@import '@/styles/variables';

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  padding: 1rem;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 3px;
  }

  .postCard, .skeletonPostCard {
    min-height: 300px;
    box-sizing: border-box;
  }
}
